* {
    scroll-behavior: smooth;
}

li {
    margin-left: 30px;
}

h2 {
    font-size:xx-large;
}

.hero {
    background-image: url("../assets/headerimage.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    border: 5px solid black;
}


/* * {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(107, 145, 167);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(114, 108, 108);
    align-items: center;
    border: 10px outset grey;
    border-radius: 20px 0 20px 0;
    padding: 40px;
}

.head-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../assets/bluezigzag.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    box-shadow: 10px 10px 10px black;
}

.image-subtitle {
    font-size: xx-large;
    color: white;
    align-self: flex-end;
    padding: 0 0 10px 10px;
}

h1 {
    font-size: x-large;
    color: rgb(16, 16, 250);
}

h2 {
    border-right: 5px solid black;
    padding: 50px;
    font-size: x-large;
    flex: 0 0 20%;
    text-align: right;
}

nav ul {
    display: flex;
}

nav ul li {
    padding-right: 15px;
    font-size: large;
}

main {
    display: flex;
    flex-direction: column;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 25px;
    
}

.about-me p {
    width: 75vw;
    align-self: center;
    padding-left: 25px;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 25px;
    
}

.contact-me ul {
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contact-me li {
    align-self: center;
    flex-basis: 5%;
}


.work {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 25px;
    
}

img {
    margin: 0 10px 10px 10px;
    border: 5px solid maroon;
    box-shadow: 10px 10px 10px black;
}

.lgimage {
    width: 50em;
    position: relative;
}

.smaller-image {
    width: 350px;
}

.imagegrid {
    display: inline-block;
    position: relative;
}

.imagetext {
    position: absolute;
    bottom: 753px;
    left: 15px;
    background-color: maroon;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

.imagetext2 {
    position: absolute;
    bottom: 400px;
    left: 15px;
    background-color: maroon;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

.imagetext3 {
    position: absolute;
    bottom: 50px;
    left: 15px;
    background-color: maroon;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}





 */
