* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
}

body {
    background-color: steelblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(114, 108, 108);
    align-items: center;
    border: 10px outset grey;
    border-radius: 20px 0 20px 0;
    padding: 40px;
}

h1 {
    font-size: x-large;
    color: rgb(16, 16, 250);
}

nav ul {
    display: flex;
}

nav ul li {
    padding-right: 15px;
    font-size: large;
}

a {
    text-decoration: none;
    color: rgb(115, 0, 182);
}

img {
    width: 100%;
    height: 200px;
}

.head-image {
    position: relative;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: -1px 0 rgb(7, 64, 252), 0 1px rgb(7, 64, 252), 1px 0 rgb(7, 64, 252), 0 -1px rgb(7, 64, 252);
    font-size: 50px;
}

.image-subtitle {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.title {
    text-align: right;
    margin-right: 20px;
    border-right: 5px solid black;
    padding: 20px;
    flex: 1;
    font-size: 70px;
}



.about-me,
.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
}

.work img {
    border: 5px solid brown;
    width: 100px;
    height: 100px;
    margin: auto;
}


.about-me p {
    display: flex;
    align-items: center;
    width: 100%;
}

.contact-me ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 200px;
}






