* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: steelblue;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(114, 108, 108);
    align-items: center;
    border: 10px outset grey;
    border-radius: 20px 0 20px 0;
    padding: 40px;
}

.head-image {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../assets/bluezigzag.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.image-subtitle {
    font-size: xx-large;
    color: white;
    align-self: flex-end;
    padding: 0 0 10px 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1 {
    font-size: x-large;
    color: rgb(16, 16, 250);
}

h2 {
    font-size: large;
    color: maroon;
    border-right: 5px solid black;
    padding: 30px;
    margin: auto;
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    padding-right: 15px;
    font-size: large;
}

.about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

p {
    flex-basis: 75%;
    margin-right: 100px;
}

.contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section ul {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    flex-wrap: wrap;
}

.work {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.work img {
    height: 25vh;
    width: 25vw;
    border: 3px solid maroon;
    flex: 0 1 300px;
}

@media (min-width: 984px) {
    .work img {
        flex-wrap: wrap;
    }
}


